<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar>
        <ion-tab-button (click)="goToHome()">
          <ion-icon name="home-outline"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="goToCitas()">
          <ion-icon name="time-outline"></ion-icon>
          <ion-label>Citas Asignadas</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="goToCitasAceptadas()">
          <ion-icon name="checkmark-circle-outline"></ion-icon>
          <ion-label>Citas Aceptadas</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="logout()">
          <ion-icon name="exit-outline"></ion-icon>
          <ion-label>Salir</ion-label>
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
